
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="row jumbotron">

    <div class="col-md-8">
        <h2>About Creator -- Ngoma Sonqishe</h2>
        <p>Ngoma Siphokazi Onele Sonqishe is the founder and creator of "Shyy'sty Media". </p>
        <br />
        <p> She was born on the 19th of January in the year 2002, making her 20 this year (2022).</p>
        <br /> 
        <p>She enjoys living life as efficient as possible, hence the creation of this website that makes uploading and saving files easier for the user. </p>
    </div>

    <div class="col-md-4">
        <img src="~/Media/Images/me.jpeg" width="220"/>
    </div>  

</div>

